{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <h1 class="text-xl text-gray-700">Voici les pitichats de nos utilisateurs <i class="fa-solid fa-2x fa-cat text-indigo-500"></i></h1>
            <a href="{{ path('dashboard_add') }}" class="btn-primary sm:block">Ajouter une image</a>
        </div>
        <div class="container px-5 py-10 mx-auto">
            {% if images is defined and images is not empty %}
                <div class="flex flex-wrap -m-4">
                    {% for image in images %}
                        {% dump(image) %}
                        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                            <a href="{{ path('dashboard_comments',{'slug': image.slug}) }}" target="_blank">
                                <div class="block relative h-48 rounded">
                                    <img alt="Chat de {{ image.user.firstname }} {{ image.user.lastname }}" class="cat-picture object-cover object-center w-full h-full block cursor-pointer rounded" src="{{ asset('/upload/cats/' ~ image.name) }}">
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-gray-900 title-font text-lg font-medium">{{ image.title }}</h2>
                                    <div class="flex items-center justify-between">
                                        <div>
                                            <h3 class="picture-author text-gray-500 text-base title-font mb-1">Auteur : {{ image.user.firstname }} {{ image.user.lastname }}</h3>
                                        </div>
                                        {% if image.user.id == app.user.id %}
                                        <div>
                                            <a href="{{ path('delete_picture',{'id':image.id}) }}">
                                                <i class="fa-solid fa-trash-can text-red-600"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% if images|length >= 12 %}
                    <div>
                        {% do images.setPageRange(3) %}
                        {{ knp_pagination_render(images,'shared/pagination.html.twig') }}
                    </div>
                {% endif %}
            {% else %}
                <h1>Aucune image :(</h1>
            {% endif %}
        </div>
    </section>
{% endblock %}


