{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <section class="mt-8">
        <div class="mb-8 flex container mx-auto justify-between pr-5">
            <h1 class="text-xl text-gray-700">Voici les pitichats de nos utilisateurs <i class="fa-solid fa-2x fa-cat"></i></h1>
            <a href="{{ path('dashboard_add') }}" class="btn-primary">Ajouter une image</a>
        </div>
        <div class="container mx-auto flex justify-evenly flex-wrap">
            {% for image in images %}
                <div class="rounded shadow-lg max-w-fit">
                    <img class="h-80" src="{{ asset('/upload/cats/' ~ image.name) }}" alt="Chat de {{ image.user.firstname }}">
                    <div class="pl-4">
                        <h1 class="text-xl pt-4">{{ image.title }}</h1>
                        <h2>Auteur: {{ image.user.firstname }} {{ image.user.lastname }}</h2>
                        <a href="#" class="pt-4">Lire les commentaires</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
